PORT=3000
LINK1=https://example.com/model1.glb
LINK2=https://example.com/model2.glb
LINK3=https://example.com/model3.glb
LINK4=https://example.com/api/v1/update
LINK5=https://render.com/docs
LINK6=https://unity.com
LINK7=https://github.com
LINK8=https://google.com
LINK9=https://openai.com
LINK10=https://fracturevision.ai
